*
!*/

/Library/
/Downloads/
/Desktop/
.tmux/
.local/
.config/uv/
projects/
nvim-plugins/
.oh-my-zsh/
.cache/
.tools/
.Trash/
.DS_Store
**/.DS_Store

!aerospace.toml
!.config/nvim/**
!.config/ghostty/config
!.config/tmux-powerline/**
!.zshrc
!.tmux.conf